<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959461381681-n74usk4hs41ei216ffnms1h2a6mlkaoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959461381681-n74usk4hs41ei216ffnms1h2a6mlkaoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCo292yUHmgDZ-mdqIge3WQll6zAeWmSuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>959461381681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.portfolio.Class4Test</string>
	<key>PROJECT_ID</key>
	<string>icbc-practise-tests</string>
	<key>STORAGE_BUCKET</key>
	<string>icbc-practise-tests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959461381681:ios:4fafe056421b7e398de710</string>
</dict>
</plist>